<nav>
    <div class="flex items-center">
    <a href="/"><h1>MunJitso</h1></a>
    <div class="links toggle">
        <a href="/">HOME</a>
        <a href="/repos">REPOSITORIES</a>
        <a href="/#skills">SKILLS</a>
        <a href="/#social">SOCIAL</a>
    </div>
</div>
</nav>
<nav class="phone-nav">
    <div class="links">
        <a href="/">HOME</a>
        <a href="/repos">REPOSITORIES</a>
        <a href="/#skills">SKILLS</a>
        <a href="/#social">SOCIAL</a>
    </div>
</nav>
<div class="nav-place"></div>
<router-outlet></router-outlet>