<nav id="nav">
    <div class="flex justify-between items-center">
    <h1>MunJitso</h1>
    <div class="flex justify-items-end md:justify-center md:align-center">
        <div class="links toggle">
            <a routerLink="/">HOME</a>
            <a routerLink="/repos">REPOSITORIES</a>
            <a routerLink="/skills">SKILLS</a>
            <a href="https://www.munjitso.tech/" target="_blank">BLOG</a>
        </div>
        <button (click)="changeBodyTheme()"><fa-icon [icon]="theme"></fa-icon></button>
    </div>
    
</div>

</nav>
<nav class="phone-nav" id="nav-phone">
    <div class="links">
        <a routerLink="/">HOME</a>
        <a routerLink="/repos">REPOSITORIES</a>
        <a routerLink="/skills">SKILLS</a>
        <a href="https://www.munjitso.tech/" target="_blank">BLOG</a>
    </div>
</nav>
<div class="nav-place"></div>
<router-outlet></router-outlet>
<div class="nav-place phone-nav"></div>
