<nav>
    <div class="flex items-center">
    <a href="/"><h1>MunJitso</h1></a>
    <div class="links toggle">
        <a routerLink="/">HOME</a>
        <a routerLink="/repos">REPOSITORIES</a>
        <a routerLink="/skills">SKILLS</a>
        <a href="https://www.munjitso.tech/" target="_blank">BLOG</a>
    </div>
</div>
</nav>
<nav class="phone-nav">
    <div class="links">
        <a routerLink="/">HOME</a>
        <a routerLink="/repos">REPOSITORIES</a>
        <a routerLink="/skills">SKILLS</a>
        <a href="https://www.munjitso.tech/" target="_blank">BLOG</a>
    </div>
</nav>
<div class="nav-place"></div>
<router-outlet></router-outlet>
