/* fonts */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

/* Global Settings */
* {
    scroll-behavior: smooth;
    box-sizing: inherit;
    font-family: 'Poppins', sans-serif;
}

/* Settings in Commom */
body, .links a, .nature-theme, .sakura-theme, .sakura-icons, .nature-icons{
    transition: 0.06s;
}
.sakura-theme .button, .sakura-theme .social-icon{
    color: white;
}
.nav-sakura, .sakura-theme, .sakura-icons{
    color: #000;
}

/* HTML Elements */
body {
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.7rem;
}
fa-icon {
    font-size: 1.5rem;
}
input{
    color: #ffffff;
    padding: 1rem 2rem;
    margin: 2rem;
    border-radius: 5px;
    background-color: #211A17;
}
input:focus{
    border: 0;
    outline: none;
}

/* themes */
.nature-background{
    background-color: #A2BEC0;
    background-image: url("assets/wallpaper.jpg");
}
.sakura-background{
    background-color: #A38FD6;
    background-image: url("assets/sakura-blossom.jpg");
}
.nav-sakura{
    background-color: white;
}
.nav-nature{
    background-color: #262626;
}
.nav-sakura a:hover{
    background-color: #00000017;
}
.nav-nature a:hover {
    background-color: #ffffff37;
}
.nature-theme {
    color: white;
    background-color: #211A17;
}
.sakura-theme{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: whitesmoke;
}
.nature-icons{
    color: #f6f6f6;
}
.sakura-theme .button{
    transition: .08s;
    background-color: rgb(120, 134, 183);
}
.sakura-theme .button:hover{
    background-color: rgb(93, 104, 142);
}
/* Navbar */
nav {
    z-index: 1000;
    width: calc((100% - 0px) - 0px);
    position: fixed;
    filter: drop-shadow(0px 5px 17px #00000053);
}
.nav-place {
    height: 3.3rem;
}
nav div {
    justify-content: space-between;
    padding: 0.4rem 3rem;
}
.links a {
    padding: 0.5rem 2rem;
    margin-left: 0.5rem;
    border-radius: 3px;
    font-family: 'Rubik', sans-serif;
}
.phone-nav {
    filter: drop-shadow(0px 5px 17px #00000053);
    display: none;
    left: 0;
    bottom: 0;
}

/* Containers */
.dom-container {
    display: flex;
    align-self: center;
    justify-content: center;
}
.m-container {
    padding: 2rem;
    margin: 1rem 0;
    min-width: 50%;
    max-width: 35rem;
}
.r-container{
    padding:2rem 0;
    width: 90%;
}

/* Profile Picture*/
.pfp {
    width: 6rem;
    border-radius: 1rem;
}

/* Card Components */
.title-skills {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

/* Repos */
.repo{
    min-height: 10rem;
}
.repo h1{
    font-size: 1.3rem;
}

/* Buttons */
.button {
    transition: .08s;
    padding: 0.5rem 1rem;
    background-color: rgb(88, 131, 88);
}

.button:hover {
    background-color: rgb(58, 86, 58);
}

/* Social Icons */
.social-icon {
    border-radius: 7px;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

/* Medias */
@media (max-width:991px) {
    .toggle {
        display: none;
    }
    .phone-nav {
        padding: 0.5rem 0;
        display: flex;
        justify-content: center;
    }
    .links a {
        margin-left: 0;
        padding: 0.5rem 1rem;
    }
    nav div {
        padding: 0.4rem 1rem;
        justify-content: center;
    }
}
