<div class="dom-container p-7">
    <div>
        <div class="m-container flex items-center rounded-md" [ngClass]="toggle.getToggledState() ? 'sakura-theme' : 'nature-theme'">
            <img src="https://github.com/munjitso.png" class="drop-shadow-xl pfp" alt="github profile picture" />
            <div class="ml-5">
                <h1 class="font-bold">MunJitso</h1>
                <p class="text-lg">17 years old, I'm <b>{{possession}}</b></p>
            </div>
        </div>
        <div class="m-container py-7 rounded-md" [ngClass]="toggle.getToggledState() ? 'sakura-theme' : 'nature-theme'">
            <h1 class="font-semibold mb-3">Info Card</h1>
            <div *ngFor="let info of infoCard; let i = index; " [ngClass]="i === infoCard.length - 1 ? 'grid grid-cols-10 gap-2 md:gap-0' : 'grid grid-cols-10 gap-2 md:gap-0 mb-6'">
                <div class="cols-start-1 col-span-1 flex items-center" [ngClass]="toggle.getToggledState() ? 'sakura-icons' : 'nature-icons'">
                    <fa-icon [icon]="info.icon"></fa-icon>
                </div>
                <div class="col-span-9 flex items-center ml-5 md:ml-0">
                    <h2 class="title-skills">{{info.title}}</h2>
                </div>
            </div>
        </div>

        <div class="m-container py-7 rounded-md" [ngClass]="toggle.getToggledState() ? 'sakura-theme' : 'nature-theme'">
            <h1 class="font-semibold mb-3">About Me</h1>
            <p class="text-lg">As an engineering student at ENSAK (National School of Applied Science, Kenitra), I've always been captivated by the potential of technology.
              This passion led me to self-educate in programming languages such as JavaScript, Rust, and Angular.
              My areas of interest also include networking, cloud computing, and operating systems.
              Although I am still exploring potential specializations within the expansive field of technology, I am drawn towards Cyber Security, Software Engineering and Robotics.
              My ultimate ambition is to harness my acquired skills to develop innovative technologies that positively impact our society.</p>
        </div>
        <div class="m-container py-7 rounded-md" [ngClass]="toggle.getToggledState() ? 'sakura-theme' : 'nature-theme'">
            <h1 class="font-semibold mb-3" id="social">Social</h1>
            <p class="text-lg mb-5">While I'm not particularly active, I'm happy to chat with you whenever you're available.</p>
            <div class="grid grid-cols-2 gap-2 ">
                <a class="social-icon" style="background-color: #7289da;" href="https://discordapp.com/users/992750083776991353" target="_blank">
                    <fa-icon [icon]="discord"></fa-icon>
                </a>
                <a class="social-icon" style="background-color: #1778F2;" href="https://www.facebook.com/profile.php?id=100087614450628" target="_blank">
                    <fa-icon [icon]="facebook"></fa-icon>
                </a>
                <a class="social-icon" style="background-color: #00acee;" href="https://twitter.com/munjitso" target="_blank">
                    <fa-icon [icon]="twitter"></fa-icon>
                </a>
                <a class="social-icon" style="background-color: #0088cc;" href="https://t.me/munjitso" target="_blank">
                    <fa-icon [icon]="telegram"></fa-icon>
                </a>
                <a class="social-icon" style="background-color: #E1306C;" href="https://www.instagram.com/munjitso/" target="_blank">
                    <fa-icon [icon]="instagram"></fa-icon>
                </a>
                <a class="social-icon" style="background-color: #FF0000;" href="https://www.youtube.com/@MunJitso1" target="_blank">
                    <fa-icon [icon]="youtube"></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>
